name: dotnet8core_build
on:
  push:
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '**.csproj'
  workflow_dispatch: 

env:
  DOTNET_VERSION: '8.0.x' # The .NET SDK version to use

jobs:
  build:

    name: build-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest] # windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Install dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore --output ./artifact

    # - name: Publish
    #   run: dotnet publish --configuration Release --output ./artifact
    
    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v4
      with:
        name: function-app
        path: ${{ github.workspace}}/artifact
        include-hidden-files: true
        
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: DEV

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: function-app
          path: artifact

      - name: Deploy to Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: FUNCTION_APP_NAME
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
          package: artifact
